* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  /*width: 90%;*/
  height: 90%;
  position: relative;
  margin: auto;
}

.mySlides {
    display: block;
    position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* place for plan/book */
/*.placeholder {
  position: absolute;
  top: 100px;
  display: inline-block;
  width: 300px;
  left: 100px;
}

.placeholder img {
  box-shadow: 2px 2px 1px #888888;
  width: 300px;
 }*/

/* block text */
.blocktext {
	position: absolute;
	z-index: 10;
	right: 24px;
	top: 0;
	width:250px;
	color: rgba(0,49,69,0.85);
	padding: 12px 12px 12px 12px;
	background: white;
	box-shadow: 2px 2px 1px #888888;
	-webkit-transition: background 0.15s ease-in-out;
	-moz-transition: background 0.15s ease-in-out;
	-o-transition: background 0.15s ease-in-out;
	-ms-transition: background 0.15s ease-in-out;
	transition: background 0.15s ease-in-out;
  }
  
  .blocktext .city{
	font-size: 17px;font-weight: 700;
  }
  .blocktext .subcity{
	font-size: 13px;
  }
  .blocktext .currency{
	font-size: 20px;color: #00a1de;margin-left: 10px;
  }
  .blocktext .price{
	font-size: 28px;vertical-align: middle;color: #00a1de;
  }
  .blocktext .arrow{
	font-weight: 700;color: #00a1de;
  }
  .blocktext .notes{
	height: 30px;
  }
  .blocktext .notes ul{
	font-size: 13px;list-style: circle;color: #b5b2b2;
  }


p {
  display: inline-block;
}

.bullet {
    display: inline-block;
    margin-top: -30px;
    position: absolute;
    right: 30px;
}
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.toggle {
  font-family: inherit;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin: 0 2px 0 0;
  border: 0;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  background: transparent;
  cursor: pointer;
  border-radius: 2px;
}
.toggle span{
  cursor:pointer; 
  color: #fff;
  background: #e77b2f;
  padding: 8px 17px;
  display: inline-block;
}

.active, .dot:hover {
  background-color: rgb(0, 161, 222);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media screen and (min-width: 1025px) {
  .placeholder {
    position: absolute;
    top: 100px;
    display: inline-block;
    width: 300px;
    left: 100px;
  } 
  .placeholder img {
    box-shadow: 2px 2px 1px #888888;
    /*width: 300px;*/
  }
}


@media screen and (min-width: 769px)  and (max-width: 1024px) {
  .placeholder {
    position: absolute;
    top: 100px;
    display: inline-block;
    width: 300px;
    left: 100px;
  } 
  .placeholder img {
    box-shadow: 2px 2px 1px #888888;
    width: 300px;
  }
}

@media screen and (max-width: 769px) and (min-width: 321px) {
  .slideshow-container {
    max-width: 768px;
    position: relative;
    margin: auto;
  }
  .placeholder {
    position: absolute;
    top: 60px;
    width: 200px;
    left: 100px;
    display: inline-block;
  }
  .placeholder img {
    width: 200px;
    box-shadow: 2px 2px 1px #888888;

  }
  .prev, .next {
    font-size: 40px;
  }
}

@media screen and (max-width: 321px) {
  .slideshow-container {
    max-width: 320px;
    position: relative;
    margin: auto;
  }
  .bullet {
    display: inline-block;
    margin-top: -30px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .dot {
    height: 8px;
    width: 8px;
  }
  .blocktext, .placeholder{
    display: none;
  }
  .prev, .next {
    font-size: 30px;
  }
}