<div class="slideshow-container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

  <button class="toggle" (click)="toggleAuto()" >
    <span *ngIf="autoPlay"> pause </span>
    <span *ngIf="!autoPlay"> play </span>
  </button>
  <div class="mySlides fade" >
      <div class="mobile-serach">
          <strong>Plan en boek</strong>
          <input type="search" placeholder="Stel uw vraag" class="search"/>
      </div>
      <div class="blocktext mobile-visibility-hidden">
          <div class="city">{{current.title}}</div>
          <div>
              <span class="subcity">Retour vanaf</span> 
              <span class="currency">EUR</span>
              <span class="price">1179</span>
              <span class="arrow">></span>
          </div>
          <div class="notes">
              <ul>
                  <li>Plus € 10 boekingskosten </li>
                  <li>v.a. Amsterdam, Schiphol (AMS)</li>
              </ul>
          </div>
      </div>
      <img *ngIf="current.url" src="../assets{{current.url}}" style="width:100%">
      <div class="placeholder mobile-visibility-hidden"><img src="./assets/carousel/static.png"></div>
  </div>

  <div class="controls" [style.visibility]="controlsVisible" >
	  <a class="prev" (click)="prevSlides()">&#10094;</a>
	  <a class="next" (click)="nextSlides()">&#10095;</a>

	  <p class="bullet">
		<span class="dot" [ngClass]="{'active': slideIndex === i}" (click)="currentSlide(i)" *ngFor="let item of slidesData; let i = index"></span>
	  </p>
  </div>
</div>
